body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #aa9c9cb2;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    overflow: hidden;
}

header h1 {
    margin: 0;
    color: #000000;
}

#ImagenPresentacion {
    width: 100vw;
    height: 50vh;
    object-fit: fill;
    display: block;
}

#titulo {
    text-align: center;
    margin-top: 0px;
    background-color: black;
    color: white;
}

main {
    flex: 1;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}

.welcome {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.mensaje-bienvenida {
    font-size: 24px; 
    font-weight: bold;
    color: #000000; 
    text-align: center;
    margin: 20px 0; 
    padding: 10px; 
    border: 2px solid #000000; 
    border-radius: 10px; 
    background-color: #f0fdf0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.abm-section {
    margin-top: 20px;
}

.abm-section h2 {
    color: #000000;
}

form {
    background: #b6c9c563;
    border: 1px solid #302828bd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input,
form textarea,
form button {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    border:  2px solid #000000;
    border-radius: 4px;
}

form button {
    background-color: #530101;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #530101;
}

.home-link {
    display: block;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    color: #530101;
    font-weight: bold;
}

footer {
    background-color: #530101;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer p {
    margin: 5px 0;
    font-size: 16px;
}